Source: ros-hydro-typelib
Section: misc
Priority: extra
Maintainer: OCL Development Team <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 7.0.50~), cmake, gccxml, libboost-all-dev, libxml2-dev, libxslt1-dev, pkg-config, ros-hydro-catkin, ros-hydro-utilmm, ros-hydro-utilrb, ruby-facets, ruby-nokogiri
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-typelib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gccxml, libboost-all-dev, libxml2-dev, libxslt1-dev, ros-hydro-catkin, ros-hydro-utilmm, ros-hydro-utilrb, ruby-facets, ruby-nokogiri
Description: This library offers an introspection mechanism for C/C++ value-types. I.e. it offers a way to represent types, and to manipulate in-memory values that are instances of those types. A Ruby binding is included, which gives a fast and transparent modification of C/C++ in-memory types from Ruby, and an associated interface to call C functions from shared libraries.
